    .example-sidenav-content {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
      }
      
      .example-sidenav {
      margin-top: 50px;
      padding: 20px;
      z-index: -1;
      }