<div *ngIf="isDarken" class="background"></div>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    
    <button  (click)="drawer.toggle(); isDarken = !isDarken"mat-flat-button >
      <mat-icon>arrow_left</mat-icon>
    </button>
    
    <button  *ngIf="(currentUser | async)" class="menuButton" (click)="logout()"mat-flat-button >
      <mat-icon>logout</mat-icon>  {{translations[chosenTranslation].logout}}
    </button>
    
    <button  class="menuButton" (click)="changeLanguage()"mat-flat-button >
      <mat-icon><span class="material-icons">
        g_translate
        </span></mat-icon>  {{translations[chosenTranslation].change_language}}
    </button>
  
</mat-drawer>

  <button  (click)="drawer.toggle(); isDarken = !isDarken"mat-flat-button >
    <mat-icon>more_vert</mat-icon>
  </button>
