   
<div *ngIf="!(currentUser | async)">
   <mat-grid-list cols="1" rowHeight="100px" gutterSize="5px" >
        <mat-card-title>{{translations[chosenTranslation].welcome_to_task_manager}} </mat-card-title>
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="50px" gutterSize="5px" >
       {{translations[chosenTranslation].welcome_to_task_manager_description}} 
    </mat-grid-list>
    <mat-grid-list cols="3" rowHeight="100px" gutterSize="5px" >
    <button  routerLink='/register'  mat-raised-button color="primary"> {{translations[chosenTranslation].sign_up}} </button>
    <button routerLink='/login' mat-raised-button color="primary"> {{translations[chosenTranslation].sign_in}} </button>
    </mat-grid-list>
</div>
<div *ngIf="(currentUser | async) as user">
    <mat-grid-list cols="1" rowHeight="100px" gutterSize="5px" >
        <mat-card-title>{{translations[chosenTranslation].welcome_to_task_manager}},{{user.username}} </mat-card-title>
    </mat-grid-list>
</div>