<mat-card-title>{{translations[chosenTranslation].sign_in}} </mat-card-title>
<mat-form-field appearance="fill">
  <mat-label>{{translations[chosenTranslation].username}}</mat-label>
  <input [(ngModel)]="username" matInput  >
</mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{translations[chosenTranslation].password}}</mat-label>
    <input [(ngModel)]="password" matInput [type]="hide ? 'password' : 'text'" ><mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

  </mat-form-field>
  <button mat-raised-button color="primary" (click)="signIn()"> {{translations[chosenTranslation].sign_in}} </button>

