<div style="text-align:center">{{translations[chosenTranslation][message]}}</div>
<div mat-dialog-content>
  <mat-form-field  *ngFor="let r of result">
  <input [(ngModel)]="r.data" matInput placeholder= "{{translations[chosenTranslation][r.name]}}">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" [mat-dialog-close]="null" >{{translations[chosenTranslation].cancel}}</button>
  <button mat-button [mat-dialog-close]="result ?? ['Ok']" cdkFocusInitial>{{translations[chosenTranslation][confirm]}}</button>
</div>
