<mat-card style="margin:5px">
    <mat-card-title>
        <div style="padding:5px">{{taskList?.title}}</div>
    <button (click)="edit()"mat-flat-button >
        <mat-icon>edit</mat-icon> 
    </button> 
    <button (click)="remove()"mat-flat-button >
        <mat-icon>delete</mat-icon> 
    </button> 
    <button (click)="addTask()"mat-flat-button >
        <mat-icon>add</mat-icon> 
    </button> 
    </mat-card-title>
    <task style="margin:5px;" *ngFor="let task of tasks" [task]="task" [availableTaskLists]="availableTaskLists">
    </task>
</mat-card>
